.card .flex.h-full.flex-col.justify-center.gap-4.p-6 {
    justify-content: space-between;
}

.visit-web {
    transition: .2s all;
    border: 1px solid transparent;
}

.visit-web:hover {
    color: #89d7eb;
    filter: brightness(1.5);
    border-radius: .5rem;
    text-shadow: 1px 1px 5px #1397bb;
    border: 1px solid #32c0e8;
    box-shadow: 1px 1px 5px #1397bb;
}

.card {
    opacity: .95;
    filter: saturate(0);
    transition: .2s all;
}

.card:hover {
    opacity: 1;
    transform: scale(1.05);
    filter: none;
    z-index: 999;
}